<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <form class="product-form"
                    action="<%if(editing){ %>/admin/edit-product<%} else{%>/admin/add-product<%}%>" method="POST">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" value="<%if(editing) {%><%=prod.title%><%}%>">
                    </div>
                    <div class="form-control">
                        <label for="imageUrl">Image Url</label>
                        <input type="text" name="imageUrl" id="imageUrl"
                            value="<%if(editing) {%><%=prod.imageUrl%><%}%>">
                    </div>
                    <div class=" form-control">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" step="0.01"
                            value="<%if(editing) {%><%=prod.price%><%}%>">
                    </div>
                    <div class="form-control">
                        <label for="description">description</label>
                        <textarea name="description" id="description"
                            rows="5"><%if(editing) {%><%=prod.description%><%}%> </textarea>
                    </div>

                    <% if(editing) {%>
                        <input type="hidden" value="<%=prod.id%>" name="productId">
                        <%}%>

                            <button type="submit" class="btn">
                                <% if (editing) { %> Update Product<%} else {%> Add Product<%}%>
                            </button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>